<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package="pl.garnek" />

	<context:property-placeholder location="classpath:props.properties" />


	<bean id="filtrPlikowReq" class="pl.garnek.logi.reqresp.czas.plik.FiltrPlikow">
		<property name="sciezkaRegexp" value="${filtr.req.sciezka}" />
	</bean>
	
	<bean id="filtrPlikowResp" class="pl.garnek.logi.reqresp.czas.plik.FiltrPlikow">
		<property name="sciezkaRegexp" value="${filtr.resp.sciezka}" />
	</bean>
	
	<bean id="filtrLiniiReq" class="pl.garnek.logi.reqresp.czas.deltaodpowiedzi.FiltrLinii">
		<property name="tekstWLinii" value="${filtr.req.linia}" />
	</bean>
	
	<bean id="filtrLiniiResp" class="pl.garnek.logi.reqresp.czas.deltaodpowiedzi.FiltrLinii">
		<property name="tekstWLinii" value="${filtr.resp.linia}" />
	</bean>
	
	<bean id="filtrLiniiCzasyZapytan" class="pl.garnek.logi.reqresp.czas.czestosrequestow.FiltrLinii">
		<property name="tekstWLinii" value="${filtr.req.linia}" />
	</bean>
	
</beans>